<!--Computer Graphics (3504837)- Exercise 2-->
<!-- Date: 19.4.2017-->
<!-- students name: Daria Dadov (ID:319575676), Or Amit (ID:301427647) Dima Girya 319308060 -->


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="includes/style.css">
    <script src="includes/angular.min.js"></script>
</head>
<body ng-app="graphicCourseHw2" ng-controller="ctrl">
<div id="wrapper">
    <header>
        <h1>Computer Graphics course (3504837)</h1>
        <h2>Exercise 2</h2>
        <h3>Students:</h3>
        <h4>Daria Dadov (ID:319575676)</h4>
        <h4>Or Amit (ID:301427647)</h4>
        <h4>Dima Girya (ID:319308060)</h4>
        <br>
    </header>
    <section class="menuSection1">
        <section class="menuSection2">
            <h4>Actions:</h4>
            <button class="clearBoardBtn" ng-click="resetBoard()">Reset board</button>
            <button class="clearBoardBtn" ng-click="moveShape()">Move</button>
            <button class="clearBoardBtn" ng-click="transformScalingShape()">Scaling</button>
            <span>Scaling factor:</span>
            <input type="number"
                   ng-model="scaleFactor"
                   min="0.1"
                   max="2">
            <button class="clearBoardBtn" ng-click="transformShearingShape()">Shearing</button>
            <span>Shearing factor:</span>
            <input type="number"
                   ng-model="shearingFactor"
                   min="0"
                   max="180">
            <button class="clearBoardBtn" ng-click="transformRotationShape()">Rotation</button>
            <span>Rotate angle:</span>
            <input type="number"
                   ng-model="rotateAngle"
                   min="0"
                   max="180">
            <button class="clearBoardBtn" ng-click="transformMirrorShape()">Mirror</button>
        </section>
    </section>
    <canvas id="workingZone" width="800" height="800"></canvas>
</div>
<script src="includes/math.js"></script>
<script src="includes/data.js"></script>
<script src="includes/script.js"></script>

</body>
</html>